

@charset "utf-8";
@font-face {
font-family:'nanum';
src:url('../css/nanum.woff') format('woff'),
url('../css/nanum.ttf') format('truetype');
}
@font-face {font-family:'nanum'; src:url("../css/nanum.eot");}

body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,span,div{
margin:0;padding:0;-webkit-text-size-adjust:none;}
body, input, textarea, select, table, button, a{
	line-height:140%;
	letter-spacing:0;
	
	outline:none;
	color:#363636;
}
body{font-size:12px; font-family:'Myriad pro','arial','nanum','nanum gothic','나눔고딕',"돋움",dotum, "굴림", Gulim, Sans-serif;}
img{border:0;}
ul,ol{list-style:none;}
a{text-decoration:none; }
a:hover{color:#fc0200;}

/*@media screen and (min-width: 1024px) {*/
/*rayouts*/
#Wrap{}

#Header{height:105px; position:relative;}
#Footer{}

/*width설정들*/
#Header,
#Footer>div,
#Main div.main_img ul.img_list,
#Main div.contents{width:1024px; margin:0 auto; zoom:1;}
#Main div.contents:after{content:""; display:block; clear:both;}
#Footer.inc_logo>div{padding-left:165px; width:859px; position:relative;}

#Sub div.contents,
#Sub div.sub_img ul.img_list{width:1024px; margin:0 auto;}


/*header*/
#Header h1{position:absolute; left:0; top:20px; width:150px; text-align:center; }
#Header h1 a{display:block; text-align:center; height:50px; margin-top:17px; }

#TopNav{position:absolute; right:0; top:0; }
#TopNav ul{margin-top:3px;}
#TopNav li{float:left; padding:0 4px;}
#TopNav li a{font-size:11px;}

#Gnb{margin-left:165px; padding-top:40px; height:60px; }/*logo_width+간격만큼 margin제한다.*/
#Gnb ul.menu{position:relative; height:30px; border:1px solid #404040; background:#0099cc url('../images/common/menu_bg.gif') left top repeat-x;}
#Gnb ul.menu>li{float:left; text-align:center; width:171px; }/*메뉴넓이/메뉴갯수*/
#Gnb ul.menu h2{font-size:16px; font-weight:normal; }
#Gnb ul.menu h2 a{color:#fff; line-height:30px;}
#Gnb ul.menu h2 a:hover,
#Gnb ul.menu h2 a.on,
#Gnb ul.menu h2 a.selected{color:#ffea00;}

#Gnb ul.menu ul.sub{text-align:left; position:absolute; top:37px; display:none;}
#Gnb ul.menu ul.sub li{float:left; padding:0 5px; }
#Gnb ul.menu li.menu1 ul.sub{left:40px;}
#Gnb ul.menu li.menu2 ul.sub{left:225px;}
#Gnb ul.menu li.menu3 ul.sub{left:362px;}
#Gnb ul.menu li.menu4 ul.sub{left:563px;}
#Gnb ul.menu li.menu5 ul.sub{left:700px;} /*메뉴위치 gnb를 기준으로 절대값*/

/*footer*/
#Footer{border-top:1px solid #ccc;}
#Footer>div{}
#Footer div.copyright{padding:10px 40px; font-size:12px;}

#Footer h1{position:absolute; left:0; top:20px; width:150px; text-align:center; }
#Footer ul.foot_nav{padding-top:20px; padding-left:40px; }
#Footer ul.foot_nav li{display:inline-block; !display:inline; padding:0 5px; border-left:1px solid #ccc; height:12px; }
#Footer ul.foot_nav li:first-child{padding-left:0; border:0;}
#Footer ul.foot_nav li a{font-weight:bold;}
#Footer ul.info_list{padding-top:10px; padding-left:40px; font-size:11px;}
#Footer ul.info_list li{display:inline-block;  !display:inline; padding:0 5px; border-left:1px solid #ccc; height:12px; }
#Footer ul.info_list li:first-child{padding-left:0; border:0;}

/*}*/
