

@charset "utf-8";

body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,span,div{
margin:0;padding:0;-webkit-text-size-adjust:none;}
body, input, textarea, select, table, button, a{
	line-height:140%;
	letter-spacing:0;
	font-family:'Myriad pro','arial',"돋움", dotum, "굴림", Gulim, Sans-serif;
	outline:none;
	color:#363636;
}
body{font-size:12px; }
img{border:0;}
ul,ol{list-style:none;}
a{text-decoration:none; }
a:hover{color:#fc0200;}

/*@media screen and (min-width: 1024px) {*/
/*rayouts*/
#Wrap{}

#Header{height:105px; position:absolute; z-index:100; left:50%; margin-left:-512px; width:1024px;}
#Footer{}

/*width설정들*/
#Footer>div,
#Main div.main_img ul.img_list,
#Main div.contents{width:1024px; margin:0 auto;}

#Sub div.contents,
#Sub div.sub_img ul.img_list{width:1024px; margin:0 auto;}


/*header*/
#Header h1{position:absolute; left:0; top:20px; width:150px; text-align:center; }
#Header h1 a{display:block; text-align:center; height:50px; margin-top:17px; }

#TopNav{position:absolute; right:0; top:0; }
#TopNav ul{margin-top:3px;}
#TopNav li{float:left; padding:0 4px;}
#TopNav li a{font-size:11px;}

#Gnb{margin-left:165px; padding-top:40px; height:60px; border-bottom:1px solid #fff;}/*logo_width+간격만큼 margin제한다.*/
#Gnb ul.menu{position:relative; height:30px; border:1px solid #404040; background:url('../images/common/menu_bg.gif') left top repeat-x;}
#Gnb ul.menu>li{float:left; text-align:center; width:171px; }/*메뉴넓이/메뉴갯수*/
#Gnb ul.menu h2{font-size:16px; font-weight:normal; }
#Gnb ul.menu h2 a{color:#fff; line-height:30px;}
#Gnb ul.menu h2 a:hover,
#Gnb ul.menu h2 a.on,
#Gnb ul.menu h2 a.selected{color:#ffea00;}

#Gnb ul.menu ul.sub{text-align:left; position:absolute; top:37px; display:none;}
#Gnb ul.menu ul.sub li{float:left; padding:0 5px; }
#Gnb ul.menu li.menu1 ul.sub{left:0;}
#Gnb ul.menu li.menu2 ul.sub{left:191px;}
#Gnb ul.menu li.menu3 ul.sub{left:392px;}
#Gnb ul.menu li.menu4 ul.sub{left:583px;}
#Gnb ul.menu li.menu5 ul.sub{left:754px;} /*메뉴위치 gnb를 기준으로 절대값*/

/*footer*/
#Footer{border-top:1px solid #ccc;}
#Footer>div{}
#Footer div.copyright{padding:30px 0; text-align:center; font-size:11px;}

/*}*/
