#board_style div.category{float:left;}
#board_style div.category select{border:1px solid #ccc; height:20px;}
#board_style div.total_info{float:right;}
#board_style div.show_myarticle{float:right; margin-right:5px; border-right:1px dotted #ccc; padding-right:5px; line-height:12px; height:12px; font-size:12px;}

#board_style div.board_list{clear:both; padding-top:5px;}
#board_style div.board_list li{zoom:1; position:relative; height:25px; line-height:25px; border-bottom:1px solid #ddd; padding-left:60px; padding-right:230px; background:#fff; }
#board_style div.board_list ul.admin_list li{padding-left:90px; }
#board_style div.board_list li:after{content:""; clear:both; display:block; }
#board_style div.board_list li.list_head{border:1px solid #ccc;  color:#666;  background:url("./images/list_bg.gif") left top repeat-x; border-radius:5px; height:32px; line-height:32px;}
#board_style div.board_list li.noContent{padding:40px 0; text-align:center; font-weight:bold; }
#board_style div.board_list li>span{position:absolute; text-align:center; top:0; margin:0; display:block;}
#board_style div.board_list li.list_head>span{background:url('./images/list_sp.gif') left center no-repeat;}
#board_style div.board_list li.list_head>span:first-child{background:none;}
#board_style div.board_list li span.title{position:relative; display:block; text-align:left; padding:0 7px;}
#board_style div.board_list li span.title a{display:block; line-height:25px; margin:0; }
#board_style div.board_list li.list_head span.title{text-align:center; padding:0;}
#board_style div.board_list li span.admin{left:0; width:30px;}
#board_style div.board_list li.list_head span.admin input{margin-top:10px;}
#board_style div.board_list li span.admin input{margin-top:5px;}
#board_style div.board_list li span.num{left:0; width:60px;}
#board_style div.board_list li span.num img{margin:10px 0;}
#board_style div.board_list ul.admin_list li span.num{left:30px; width:60px;}
#board_style div.board_list li span.writer{right:150px; width:80px;}
#board_style div.board_list li span.date{right:70px; width:80px;}
#board_style div.board_list li span.hit{right:0; width:70px}
#board_style div.board_list li:hover{background-color:#f4f4f4;}
#board_style div.board_list li.list_head:hover{background-color:inherit;}

#board_style div.pager{text-align:center;padding:10px;}
#board_style div.btn_group{text-align:right; }
#board_style div.btn_group img{margin:0 1px;}

#board_style div.search_box{padding:20px 0; text-align:center; background:#fafafa; border:1px solid #dfdfdf; margin:5px 0;}
#board_style div.search_box input[type=checkbox]{vertical-align:middle;}
#board_style div.search_box label{margin-right:5px;}


#board_view_style h1{text-align:center; font-size:14px; border:1px solid #ccc; background:#f4f4f4 url('./images/list_bg.gif') left top repeat-x; line-height:32px; height:32px;}
#board_view_style div.article_info{zoom:1; background:#f8f8f8; border-bottom:1px solid #ccc; padding:2px 0; line-height:25px;}
#board_view_style div.article_info:after{content:""; display:block; clear:both;}
#board_view_style div.article_info div.sns_share{float:left;}
#board_view_style div.article_info ul.info_list{float:right;}
#board_view_style div.article_info ul.info_list li{display:inline; padding:0 5px;}

#board_view_style div.link_files{}
#board_view_style div.link_files dl{margin:3px 0; border:1px solid #ccc; border-radius:5px; padding:3px 7px;}
#board_view_style div.link_files dt{font-weight:bold;}
#board_view_style div.link_files dt,
#board_view_style div.link_files dd{display:inline; padding:0 5px;}
#board_view_style div.link_files a:hover{background:#f4f4f4;}

#board_view_style div.article{padding:5px 10px;}
#board_view_style div.article div.image_aside{text-align:center; padding:7px 0;}
#board_view_style div.article div.image_aside img{max-width:100%; cursor:pointer;}

#board_view_style div.tags{margin:3px 0; border:1px solid #ccc; border-radius:5px; padding:3px 7px;}

#board_view_style div.comments{background:#f4f4f4; border-top:1px solid #ccc; margin:5px 0; }
#board_view_style div.comments dt{font-weight:bold; position:relative;}
#board_view_style div.comments dt span.date{position:absolute; right:0; top:0; font-weight:normal; color:#777; padding-left:10px;}
#board_view_style div.comments dd{clear:both; padding:5px;}
#board_view_style div.comments dl{border-top:1px dashed #ccc; margin:5px 7px;}
#board_view_style div.comments dl:first-child{border-top:0;}

#board_view_style div.write_comment{}
#board_view_style div.write_comment ul.writer_info{zoom:1; }
#board_view_style div.write_comment ul.writer_info:after{content:""; display:block; clear:both;}
#board_view_style div.write_comment ul.writer_info li{float:left; margin-right:5px; line-height:15px;}
#board_view_style div.write_comment ul.writer_info li input{border:1px solid #dfe4db; background:#fafafa; vertical-align:middle;}

#board_view_style div.write_comment div.textWrap{position:relative; height:50px; padding:3px 75px 3px 0;}
#board_view_style div.write_comment div.textWrap div.btn{position:absolute; right:0; top:3px;}
#board_view_style div.write_comment div.textWrap textarea{width:100%; height:48px; font-size:12px; border:1px solid #dfe4db; background:#fafafa;}



#board_write_style{}
#board_write_style h1{text-align:center; font-size:14px; border:1px solid #ccc; background:#f4f4f4 url('./images/list_bg.gif') left top repeat-x; line-height:32px; height:32px;}
#board_write_style ul.input_list{border:1px solid #ccc; border-width:1px 0; margin:5px 0;}
#board_write_style ul.input_list li{position:relative; min-height:25px; line-height:25px; padding-left:120px; border-top:1px dotted #ccc;}
#board_write_style ul.input_list li:first-child{border-top:0;}
#board_write_style ul.input_list li span.title{position:absolute; left:0; top:0; line-height:25px; padding-left:10px; width:100px; background:#f4f4f4; height:100%; font-weight:bold;}
#board_write_style ul.input_list li input{vertical-align:middle;}
#board_write_style ul.input_list li input[type=text],
#board_write_style ul.input_list li input[type=password]{border:1px solid #ccc; background:#fff; height:20px; margin:2px 0;}
#board_write_style ul.input_list li input.long{width:300px;}
#board_write_style ul.input_list li input.underline{border-width:0 0 1px 0; border-color:#dedede; border-style:solid; margin-left:7px; padding-left:3px; width:250px;}
#board_write_style div.btn_group{padding:10px 0; text-align:center;}