

@media only screen and (min-width: 0px) {

#board_style div.board_list ul li.pcs_lists{display:none;}
#board_style div.board_list ul li.mos_lists{display:block;}



.numclik_mo{display:block;}
.numclik_pc{display:none;}


#board_style div.category{padding:0 10px 5px 10px;}
#board_style div.category select{border:1px solid #ccc; height:35px; width:100%; border-radius:5px; line-height:30px;}
#board_style div.total_info{display:none;}
#board_style div.show_myarticle{float:right; margin-right:5px; border-right:1px dotted #ccc; padding-right:5px; line-height:12px; height:12px; font-size:12px;}

.search_box_pc{display:none;}
.search_box_mo{display:block;}


.btn_group_mo{display:block;}
.btn_group_pc{display:none;}

.board_view_style_mo{display:block;}
.board_view_style_pc{display:none;}

.board_write_style_pc{display:none;}
.board_write_style_mo{display:block;}

#board_style div.search_box{border:1px solid #ccc; height:33px; border-radius:5px; padding-right:35px; margin:0 10px 5px 10px; position:relative; }
#board_style div.hide_box{display:none;}
#board_style div.search_box input[type=checkbox]{vertical-align:middle;}
#board_style div.search_box input[type=submit]{width:35px; height:35px; margin-top:-1px; border:1px solid #656565; border-radius:3px; background:url('./images/btn_search.png') left top no-repeat; text-indent:-1000px; overflow:hidden; position:absolute; right:0; top:0;}
#board_style div.search_box input[type=submit].on,
#board_style div.search_box input[type=submit]:hover{background-position:left -35px;}
#board_style div.search_box input[type=text]{width:100%; height:33px; background:none; border:none;}
#board_style div.search_box label{margin-right:5px;}

#board_style div.board_list{clear:both; padding-top:5px;}
#board_style div.board_list ul{border-top:1px solid #ddd;}
#board_style div.board_list ul li.mos_lists{padding:0.65em 10px; border-bottom:1px solid #ddd; }
#board_style div.board_list ul li.mos_lists a{display:block; padding:0.65em 75px 0.65em 10px; margin:-0.65em -10px; position:relative;}
#board_style div.board_list ul li.mos_lists a:hover{background-color:#e7eef4;}
#board_style div.board_list ul li.mos_lists a:hover span.title{color:#006699;}
#board_style div.board_list ul li.noContent{text-align:center; padding:3em 0; font-weight:bold; color:#888;}
#board_style div.board_list ul li.mos_lists span.secret{color:#006699; font-size:0.9em;}
#board_style div.board_list ul li.mos_lists span.notice{color:red;}
#board_style div.board_list ul li.mos_lists span.comment{display:inline-block; width:21px; height:18px; line-height:20px; padding-bottom:5px; text-indent:-1px; background:url('./images/comment_bg.png') left top no-repeat; text-align:center; color:#006db7; font-size:0.8em; background-size:contain; margin-bottom: -10px; top: 0; position: relative;}
#board_style div.board_list ul li.mos_lists img{vertical-align:middle;}
#board_style div.board_list ul li.mos_lists span.date{position:absolute; right:10px; top:0; font-size:0.8em; color:#9f9f9f; padding:0.85em 0; }
#board_style div.board_list ul li.mos_lists input[type='checkbox']{float:left; margin-top:-5px; margin-left:-5px; margin-right:5px;}

#board_style div.board_list ul li.mos_lists input[type='checkbox']{display:inline-block; width:25px; height:25px; border:1px solid #ccc; background-color:#fff; border-radius:5px; -webkit-appearance:none;}
#board_style div.board_list ul li.mos_lists input[type='checkbox']:checked{background:url('./images/checkbox.png') center center no-repeat;}

#board_style div.board_list ul li.list_head{display:none;}



/*pager board_common.css*/

#board_style div.btn_group{clear:both; background:#f8f8f8; border:solid #ddd; border-width:1px 0; padding:5px 10px; }
#board_style div.btn_group:after{display:block; clear:both; content:"";}
#board_style div.btn_group div.left{float:left;}
#board_style div.btn_group div.right{float:right;}
#board_style div.btn_group a{
	display:inline-block; padding:0.4em 10px; border:1px solid #ddd; font-size:0.9em;
	background:#f8f8f8;
	background: -moz-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f8f8f8)); 
	background: -o-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
	background: linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
}
#board_style div.btn_group a.on{
	background:#f8f8f8;
	background: -moz-linear-gradient(top, #f8f8f8 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff)); 
	background: -o-linear-gradient(top, #f8f8f8 0%, #ffffff 100%);
	background: -ms-linear-gradient(top, #f8f8f8 0%, #ffffff 100%);
	background: linear-gradient(top, #f8f8f8 0%, #ffffff 100%);
}
#board_style div.btn_group a.strong{
	color:#fff; border-color:#64666a;
	background:#4374c4;
	background: -moz-linear-gradient(top, #8fa1dd 0%, #2458a2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8fa1dd), color-stop(100%,#2458a2)); 
	background: -o-linear-gradient(top, #8fa1dd 0%, #2458a2 100%);
	background: -ms-linear-gradient(top, #8fa1dd 0%, #2458a2 100%);
	background: linear-gradient(top, #8fa1dd 0%, #2458a2 100%);
}
#board_style div.btn_group a.strong.on{
	background:#4374c4;
	background: -moz-linear-gradient(top, #2458a2 0%, #8fa1dd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2458a2), color-stop(100%,#8fa1dd)); 
	background: -o-linear-gradient(top, #2458a2 0%, #8fa1dd 100%);
	background: -ms-linear-gradient(top, #2458a2 0%, #8fa1dd 100%);
	background: linear-gradient(top, #2458a2 0%, #8fa1dd 100%);
}




/*view*/
#board_view_style div.view_top{
	padding:5px 50px 10px 10px; position:relative; /*댓글영역때문에 패딩값 50px*/
	border-bottom:1px solid #bdbdbd; box-shadow:0 2px 3px rgba(0,0,0,0.5); 
	-webkit-box-shadow:0 2px 3px rgba(0,0,0,0.3); -o-box-shadow:0 2px 3px rgba(0,0,0,0.3); -moz-box-shadow:0 2px 3px rgba(0,0,0,0.3); -ms-box-shadow:0 2px 3px rgba(0,0,0,0.3);
	background:#fff;
	background: -moz-linear-gradient(top, #fff 0%, #fff 80%, #f6f6f6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(80%,#fff), color-stop(100%,#f6f6f6)); 
	background: -o-linear-gradient(top, #fff 0%, #fff 80%, #f6f6f6 100%);
	background: -ms-linear-gradient(top, #fff 0%, #fff 80%, #f6f6f6 100%);
	background: linear-gradient(top, #fff 0%, #fff 80%, #f6f6f6 100%);
}

#board_view_style h1{font-size:1.3em; padding:0.1em 0; }
#board_view_style ul.article_info{}
#board_view_style ul.article_info:after{content:""; display:block; clear:both;}
#board_view_style ul.article_info li{float:left;  padding:0 5px 0 7px; border-right:1px solid #ccc; font-size:0.9em; color:#888; height:1em; }
#board_view_style ul.article_info li:first-child{padding-left:0;}
#board_view_style ul.article_info li:last-child{border:0;}
#board_view_style ul.article_info li.write{color:#4c78c6;}
#board_view_style div.view_top span.comment_num{background:url('./images/comment_bg.png'); width:33px; height:27px; padding-bottom:8px; position:absolute; right:10px; top:50%; margin-top:-20px; line-height:30px; color:#006db7; text-align:center; }

#board_view_style div.down_files{padding:0.65em 10px; background:#f4f4f4;}
#board_view_style div.down_files dl{}
#board_view_style div.down_files dl:after{display:block; clear:both; content:"";}
#board_view_style div.down_files dt{float:left; width:11px; background:url('./images/ico_down.gif') left center no-repeat; overflow:hidden; text-indent:-1000px; margin-right:5px;}
#board_view_style div.down_files dd{}
#board_view_style div.down_files dd:after{content:", ";}
#board_view_style div.down_files dd:last-child:after{content:"";}
#board_view_style div.down_files dd:not(:first-child){padding-left:16px;}
#board_view_style div.down_files dd a{ font-size:0.9em;}
#board_view_style div.down_files dd a:hover{background:#5b6e92; color:#fff;}

#board_view_style div.link_files{}
#board_view_style div.link_files dl{padding:4px 10px;}
#board_view_style div.link_files dt{display:inline-block; padding:0.2em 7px; border:1px solid #ccc; background:#fff; margin-right:5px; font-size:0.9em; color:#5b6e92;}
#board_view_style div.link_files dd{display:inline;}
#board_view_style div.link_files dd:after{content:", ";}
#board_view_style div.link_files dd:last-child:after{content:"";}
#board_view_style div.link_files a{font-size:0.9em;}
#board_view_style div.link_files a:hover{background:#f4f4f4;}

#board_view_style div.article{padding:5px 10px;}
#board_view_style div.article div.image_aside{text-align:center; padding:7px 0;}
#board_view_style div.article div.image_aside img{max-width:100%; cursor:pointer;}

#board_view_style div.tags{margin:3px 0; border:1px solid #ccc; border-radius:5px; padding:3px 7px;}

#board_view_style div.sns_share{width:235px; margin:0 auto;}

#board_view_style div.comments{border-top:1px solid #ccc; margin:5px 0; }
#board_view_style div.comments dl{border-top:1px dotted #ccc; margin:0 5px; padding:10px 5px; position:relative;}
#board_view_style div.comments dl:first-child{border-top:0;}
#board_view_style div.comments dt{color:#00308a; padding-right:50px; }
#board_view_style div.comments dt span.date{display:inline-block; line-height:1em; border-left:1px solid #ccc; padding-left:5px; margin-left:5px; font-size:0.8em; color:#888; }
#board_view_style div.comments dd{clear:both; padding-top:0.65em;}
#board_view_style div.comments dd a.del{position:absolute; right:0; top:5px; padding:0.3em 7px; border:1px solid #ccc; font-size:0.9em;}


#board_view_style div.write_comment{}
#board_view_style div.write_comment ul.writer_info{display:table; width:100%; }
#board_view_style div.write_comment ul.writer_info li{display:table-cell;  width:50%; padding-left:10px; padding-right:2px;}
#board_view_style div.write_comment ul.writer_info li:last-child{padding-left:2px; padding-right:10px;}
#board_view_style div.write_comment ul.writer_info li input{border:1px solid #ccc; border-radius:5px; width:100%; height:30px;}

#board_view_style div.write_comment div.textWrap{padding:2px 14px 2px 10px;}
#board_view_style div.write_comment div.textWrap div.btn{text-align:right; margin-right:-4px;}
#board_view_style div.write_comment div.textWrap div.btn input[type=submit]{
	padding:0.3em 7px; border:1px solid #ccc; font-size:0.9em;
	background:#fff;
	background: -moz-linear-gradient(top, #fff 0%,#f8f8f8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#f8f8f8)); 
	background: -o-linear-gradient(top, #fff 0%,#f8f8f8 100%);
	background: -ms-linear-gradient(top, #fff 0%,#f8f8f8 100%);
	background: linear-gradient(top, #fff 0%,#f8f8f8 100%);
}
#board_view_style div.write_comment div.textWrap div.btn.on input[type=submit],
#board_view_style div.write_comment div.textWrap div.btn:hover input[type=submit]{
	background:#fff;
	background: -moz-linear-gradient(top, #f8f8f8 0%,#fff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#fff)); 
	background: -o-linear-gradient(top, #f8f8f8 0%,#fff 100%);
	background: -ms-linear-gradient(top, #f8f8f8 0%,#fff 100%);
	background: linear-gradient(top, #f8f8f8 0%,#fff 100%);
}
#board_view_style div.write_comment div.textWrap textarea{width:100%; height:110px; border:1px solid #ccc; border-radius:5px; }


#board_view_style div.btn_group{clear:both; margin:5px 0; background:#f8f8f8; border:solid #ddd; border-width:1px 0; padding:5px 10px; }
#board_view_style div.btn_group:after{display:block; clear:both; content:"";}
#board_view_style div.btn_group div.left{float:left;}
#board_view_style div.btn_group div.right{float:right;}
#board_view_style div.btn_group a{
	display:inline-block; padding:0.4em 10px; border:1px solid #ddd; font-size:0.9em;
	background:#f8f8f8;
	background: -moz-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f8f8f8)); 
	background: -o-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
	background: linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
}
#board_view_style div.btn_group a.on{
	background:#f8f8f8;
	background: -moz-linear-gradient(top, #f8f8f8 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff)); 
	background: -o-linear-gradient(top, #f8f8f8 0%, #ffffff 100%);
	background: -ms-linear-gradient(top, #f8f8f8 0%, #ffffff 100%);
	background: linear-gradient(top, #f8f8f8 0%, #ffffff 100%);
}
#board_view_style div.btn_group a.strong{
	color:#fff; border-color:#64666a;
	background:#4374c4;
	background: -moz-linear-gradient(top, #8fa1dd 0%, #2458a2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8fa1dd), color-stop(100%,#2458a2)); 
	background: -o-linear-gradient(top, #8fa1dd 0%, #2458a2 100%);
	background: -ms-linear-gradient(top, #8fa1dd 0%, #2458a2 100%);
	background: linear-gradient(top, #8fa1dd 0%, #2458a2 100%);
}
#board_view_style div.btn_group a.strong.on{
	background:#4374c4;
	background: -moz-linear-gradient(top, #2458a2 0%, #8fa1dd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2458a2), color-stop(100%,#8fa1dd)); 
	background: -o-linear-gradient(top, #2458a2 0%, #8fa1dd 100%);
	background: -ms-linear-gradient(top, #2458a2 0%, #8fa1dd 100%);
	background: linear-gradient(top, #2458a2 0%, #8fa1dd 100%);
}




.board_write_style_mo div.write_top{position:relative; }
.board_write_style_mo h1{text-align:center; border-bottom:1px solid #ccc; background:#f4f4f4; font-size:1.2em; padding:0.5em 0;}
.board_write_style_mo div.write_top div.btn_group{width:100%; position:absolute; left:0; top:0; padding:0; background:none; border:none; margin-top:0.4em;}
.board_write_style_mo div.write_top div.btn_group div.left{float:left; margin-left:5px;}
.board_write_style_mo div.write_top div.btn_group div.right{float:right; margin-right:5px;}

.board_write_style_mo ul.input_list{margin:5px;}
.board_write_style_mo ul.input_list li{position:relative; min-height:30px; line-height:30px; }
.board_write_style_mo ul.input_list li.inc_textarea{margin-right:5px;}
.board_write_style_mo ul.input_list li span.title{display:none;}
.board_write_style_mo ul.input_list li input{vertical-align:middle;}
.board_write_style_mo ul.input_list li input[type=text],
.board_write_style_mo ul.input_list li input[type=password]{border:1px solid #ccc; border-radius:5px; background:#fff; height:30px; margin:2px 0; width:100%;}
.board_write_style_mo ul.input_list li input.underline{border-width:0 0 1px 0; border-color:#dedede; border-style:solid; margin-left:7px; padding-left:3px; width:250px;}
.board_write_style_mo ul.input_list textarea{width:100%; height:100px; border-radius:5px; border:1px solid #ccc;}
.board_write_style_mo div.btn_group{clear:both; margin:5px 0; background:#f8f8f8; border:solid #ddd; border-width:1px 0; padding:5px 10px; }
.board_write_style_mo div.btn_group:after{display:block; clear:both; content:"";}
.board_write_style_mo div.btn_group div.left{float:left;}
.board_write_style_mo div.btn_group div.right{float:right;}

.board_write_style_mo input[type='checkbox']{display:inline-block; width:25px; height:25px; border:1px solid #ccc; background-color:#fff; border-radius:5px; -webkit-appearance:none;}
.board_write_style_mo input[type='checkbox']:checked{background:url('./images/checkbox.png') center center no-repeat;}

.board_write_style_mo div.btn_group a,
.board_write_style_mo div.btn_group input[type=submit]{
	display:inline-block; padding:0.4em 10px; border:1px solid #ddd; font-size:0.9em;
	background:#f8f8f8;
	background: -moz-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f8f8f8)); 
	background: -o-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
	background: linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
}
.board_write_style_mo div.btn_group a.on{
	background:#f8f8f8;
	background: -moz-linear-gradient(top, #f8f8f8 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff)); 
	background: -o-linear-gradient(top, #f8f8f8 0%, #ffffff 100%);
	background: -ms-linear-gradient(top, #f8f8f8 0%, #ffffff 100%);
	background: linear-gradient(top, #f8f8f8 0%, #ffffff 100%);
}
.board_write_style_mo div.btn_group a.strong,
.board_write_style_mo div.btn_group input[type=submit]{
	color:#fff; border-color:#64666a;
	background:#4374c4;
	background: -moz-linear-gradient(top, #8fa1dd 0%, #2458a2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8fa1dd), color-stop(100%,#2458a2)); 
	background: -o-linear-gradient(top, #8fa1dd 0%, #2458a2 100%);
	background: -ms-linear-gradient(top, #8fa1dd 0%, #2458a2 100%);
	background: linear-gradient(top, #8fa1dd 0%, #2458a2 100%);
}
.board_write_style_mo div.btn_group a.strong.on{
	background:#4374c4;
	background: -moz-linear-gradient(top, #2458a2 0%, #8fa1dd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2458a2), color-stop(100%,#8fa1dd)); 
	background: -o-linear-gradient(top, #2458a2 0%, #8fa1dd 100%);
	background: -ms-linear-gradient(top, #2458a2 0%, #8fa1dd 100%);
	background: linear-gradient(top, #2458a2 0%, #8fa1dd 100%);
}











}


@media only screen and (min-width: 690px) {




.numclik_mo{display:none;}
.numclik_pc{display:block;}




#board_style div.board_list ul li.pcs_lists{display:block;}
#board_style div.board_list ul li.mos_lists{display:none;}


#board_style div.category{float:left;}
#board_style div.category select{border:1px solid #ccc; height:20px;}
#board_style div.total_info{float:right; display:block;font-size:13px; }
#board_style div.show_myarticle{float:right; margin-right:5px; border-right:1px dotted #ccc; padding-right:5px; line-height:12px; height:12px; font-size:12px;}

#board_style div.board_list{clear:both; padding-top:5px;}

.search_box_mo{display:none;}
.search_box_pc{display:block;}

.btn_group_pc{display:block;}
.btn_group_mo{display:none;}

#board_style div.board_list li{zoom:1; position:relative; height:25px; line-height:25px; border-bottom:1px solid #ddd; padding-left:60px; padding-right:230px; background:#fff; }
#board_style div.board_list ul.admin_list li{padding-left:90px; }
#board_style div.board_list li:after{content:""; clear:both; display:block; }
#board_style div.board_list ul li.list_head{display:block; border:0px solid #ccc;  color:#333;  background:url("./images/list_head.gif") left top repeat-x; border-radius:5px; height:52px; line-height:42px;
margin-top:-2px;
font-weight:bold;}



#board_style div.board_list li.noContent{padding:40px 0; text-align:center; font-weight:bold; }
#board_style div.board_list li>span{position:absolute; text-align:center; top:0; margin:0; display:block;}
#board_style div.board_list li.list_head>span{background:url('./images/list_sp.gif') left center no-repeat;}
#board_style div.board_list li.list_head>span:first-child{background:none;}
#board_style div.board_list li span.title{position:relative; display:block; text-align:left; padding:0 7px;}
#board_style div.board_list li span.title a{display:block; line-height:25px; margin:0; font-size:13px;}
#board_style div.board_list li.list_head span.title{text-align:center; padding:0;font-size:13px;}
#board_style div.board_list li span.admin{left:0; width:30px;}
#board_style div.board_list li.list_head span.admin input{margin-top:10px;}
#board_style div.board_list li span.admin input{margin-top:5px;}
#board_style div.board_list li span.num{left:0; width:60px;font-size:13px;}
#board_style div.board_list li span.num img{margin:10px 0;}
#board_style div.board_list ul.admin_list li span.num{left:30px; width:60px;}
#board_style div.board_list li span.writer{right:150px; width:80px;font-size:13px;}
#board_style div.board_list li span.date{right:70px; width:80px;font-size:13px;}
#board_style div.board_list li span.hit{right:0; width:70px;font-size:13px;}
#board_style div.board_list li:hover{background-color:#f4f4f4;}
#board_style div.board_list li.list_head:hover{background-color:inherit;}


.board_view_style_pc{display:block;}
.board_view_style_mo{display:none;}




.board_write_style_pc{display:block;}
.board_write_style_mo{display:none;}




#board_style div.pager{text-align:center;padding:10px;}
#board_style div.btn_group{text-align:right; }
#board_style div.btn_group img{margin:0 1px;}

#board_style div.search_box{padding:20px 0; text-align:center; background:#fafafa; border:1px solid #dfdfdf; margin:5px 0; border-radius:0px;}
#board_style div.search_box input[type=checkbox]{vertical-align:middle;}
#board_style div.search_box label{margin-right:5px;}


#board_view_style h1{text-align:center; font-size:15px; border:1px solid #ccc; background:#f4f4f4 url('./images/list_bg.gif') left top repeat-x;
line-height:32px; height:32px; font-weight:500;}
#board_view_style div.article_info{zoom:1; background:#f8f8f8; border-bottom:1px solid #ccc; padding:2px 0; line-height:25px; font-size:13px;}
#board_view_style div.article_info:after{content:""; display:block; clear:both;}
#board_view_style div.article_info div.sns_share{float:left;}
#board_view_style div.article_info ul.info_list{float:right;}
#board_view_style div.article_info ul.info_list li{display:inline; padding:0 5px;}

#board_view_style div.link_files{}
#board_view_style div.link_files dl{margin:3px 0; border:1px solid #ccc; border-radius:5px; padding:3px 7px;}
#board_view_style div.link_files dt{font-weight:bold;}
#board_view_style div.link_files dt,
#board_view_style div.link_files dd{display:inline; padding:0 5px;}
#board_view_style div.link_files a:hover{background:#f4f4f4;}

#board_view_style div.article{padding:5px 10px;}
#board_view_style div.article div.image_aside{text-align:center; padding:7px 0;}
#board_view_style div.article div.image_aside img{max-width:100%; cursor:pointer;}

#board_view_style div.tags{margin:3px 0; border:1px solid #ccc; border-radius:5px; padding:3px 7px;}

#board_view_style div.comments{background:#f4f4f4; border-top:1px solid #ccc; margin:5px 0; }
#board_view_style div.comments dt{font-weight:bold; position:relative;}
#board_view_style div.comments dt span.date{position:absolute; right:0; top:0; font-weight:normal; color:#777; padding-left:10px;}
#board_view_style div.comments dd{clear:both; padding:5px;}
#board_view_style div.comments dl{border-top:1px dashed #ccc; margin:5px 7px;}
#board_view_style div.comments dl:first-child{border-top:0;}

#board_view_style div.write_comment{}
#board_view_style div.write_comment ul.writer_info{zoom:1; }
#board_view_style div.write_comment ul.writer_info:after{content:""; display:block; clear:both;}
#board_view_style div.write_comment ul.writer_info li{float:left; margin-right:5px; line-height:15px;}
#board_view_style div.write_comment ul.writer_info li input{border:1px solid #dfe4db; background:#fafafa; vertical-align:middle;}

#board_view_style div.write_comment div.textWrap{position:relative; height:50px; padding:3px 75px 3px 0;}
#board_view_style div.write_comment div.textWrap div.btn{position:absolute; right:0; top:3px;}
#board_view_style div.write_comment div.textWrap textarea{width:100%; height:48px; font-size:12px; border:1px solid #dfe4db; background:#fafafa;}




.board_write_style_pc h1{text-align:center; font-size:14px; border:1px solid #ccc; background:#f4f4f4 url('./images/list_bg.gif') left top repeat-x; line-height:32px; height:32px;}
.board_write_style_pc ul.input_list{border:1px solid #ccc; border-width:1px 0; margin:5px 0;}
.board_write_style_pc ul.input_list li{position:relative; min-height:25px; line-height:25px; padding-left:120px; border-top:1px dotted #ccc;}
.board_write_style_pc ul.input_list li:first-child{border-top:0;}
.board_write_style_pc ul.input_list li span.title{position:absolute; left:0; top:0; line-height:25px; padding-left:10px; width:100px; background:#f4f4f4; height:100%; font-weight:bold;}
.board_write_style_pc ul.input_list li input{vertical-align:middle;}
.board_write_style_pc ul.input_list li input[type=text],
.board_write_style_pc ul.input_list li input[type=password]{border:1px solid #ccc; background:#fff; height:20px; margin:2px 0;}
.board_write_style_pc ul.input_list li input.long{width:300px;}
.board_write_style_pc ul.input_list li input.underline{border-width:0 0 1px 0; border-color:#dedede; border-style:solid; margin-left:7px; padding-left:3px; width:250px;}
.board_write_style_pc div.btn_group{padding:10px 0; text-align:center;}














}
@media only screen and (min-width: 1024px) {

.numclik_mo{display:none;}
.numclik_pc{display:block;}




#board_style div.board_list ul li.pcs_lists{display:block;}
#board_style div.board_list ul li.mos_lists{display:none;}


#board_style div.category{float:left;}
#board_style div.category select{border:0px solid #ccc; height:20px;}
#board_style div.total_info{float:right; display:block;}
#board_style div.show_myarticle{float:right; margin-right:5px; border-right:1px dotted #ccc; padding-right:5px; line-height:12px; height:12px; font-size:12px;}

#board_style div.board_list{clear:both; padding-top:5px;}

.search_box_mo{display:none;}
.search_box_pc{display:block;}

.btn_group_pc{display:block;}
.btn_group_mo{display:none;}

#board_style div.board_list li{zoom:1; position:relative; height:25px; line-height:25px; border-bottom:1px solid #ddd; padding-left:60px; padding-right:230px; background:#fff; }
#board_style div.board_list ul.admin_list li{padding-left:90px; }
#board_style div.board_list li:after{content:""; clear:both; display:block; }
#board_style div.board_list ul li.list_head{display:block; border:0px solid #e3e3e3;  color:#333;  background:#ffffff url('./images/list_head.gif') left top repeat-x; height:52px; line-height:42px; 
font-weight:bold;border-radius:0px; }
#board_style div.board_list li.noContent{padding:40px 0; text-align:center; font-weight:bold; }
#board_style div.board_list li>span{position:absolute; text-align:center; top:0; margin:0; display:block;}

#board_style div.board_list li.list_head>span{background:url('./images/list_sp.gif') left center no-repeat;}
#board_style div.board_list li.list_head>span:first-child2{background:none;}


#board_style div.board_list li span.title{position:relative; display:block; text-align:left; padding:0 7px;}
#board_style div.board_list li span.title a{display:block; line-height:25px; margin:0; }
#board_style div.board_list li.list_head span.title{text-align:center; padding:0;}
#board_style div.board_list li span.admin{left:0; width:30px;}
#board_style div.board_list li.list_head span.admin input{margin-top:10px;}
#board_style div.board_list li span.admin input{margin-top:5px;}
#board_style div.board_list li span.num{left:0; width:60px;}
#board_style div.board_list li span.num img{margin:10px 0;}
#board_style div.board_list ul.admin_list li span.num{left:30px; width:60px;}
#board_style div.board_list li span.writer{right:150px; width:80px;}
#board_style div.board_list li span.date{right:70px; width:80px;}
#board_style div.board_list li span.hit{right:0; width:70px}
#board_style div.board_list li:hover{background-color:#ffffff; }
#board_style div.board_list li.list_head:hover{background-color:#ffffff;}


.board_view_style_pc{display:block;}
.board_view_style_mo{display:none;}




.board_write_style_pc{display:block;}
.board_write_style_mo{display:none;}




#board_style div.pager{text-align:center;padding:10px;}
#board_style div.btn_group{text-align:right; }
#board_style div.btn_group img{margin:0 1px;}

#board_style div.search_box{padding:20px 0; text-align:center; background:#f5f5f5; border:1px solid #dfdfdf; margin:5px 0; border-radius:0px;}
#board_style div.search_box input[type=checkbox]{vertical-align:middle;}
#board_style div.search_box label{margin-right:5px;}


#board_view_style h1{text-align:center; font-size:14px; border:1px solid #ccc; background:#f4f4f4 url('./images/list_bg.gif') left top repeat-x; line-height:32px; height:32px;}
#board_view_style div.article_info{zoom:1; background:#f8f8f8; border-bottom:1px solid #ccc; padding:2px 0; line-height:25px;}
#board_view_style div.article_info:after{content:""; display:block; clear:both;}
#board_view_style div.article_info div.sns_share{float:left;}
#board_view_style div.article_info ul.info_list{float:right;}
#board_view_style div.article_info ul.info_list li{display:inline; padding:0 5px;}

#board_view_style div.link_files{}
#board_view_style div.link_files dl{margin:3px 0; border:1px solid #ccc; border-radius:5px; padding:3px 7px;}
#board_view_style div.link_files dt{font-weight:bold;}
#board_view_style div.link_files dt,
#board_view_style div.link_files dd{display:inline; padding:0 5px;}
#board_view_style div.link_files a:hover{background:#f4f4f4;}

#board_view_style div.article{padding:5px 10px;}
#board_view_style div.article div.image_aside{text-align:center; padding:7px 0;}
#board_view_style div.article div.image_aside img{max-width:100%; cursor:pointer;}

#board_view_style div.tags{margin:3px 0; border:1px solid #ccc; border-radius:5px; padding:3px 7px;}

#board_view_style div.comments{background:#f4f4f4; border-top:1px solid #ccc; margin:5px 0; }
#board_view_style div.comments dt{font-weight:bold; position:relative;}
#board_view_style div.comments dt span.date{position:absolute; right:0; top:0; font-weight:normal; color:#777; padding-left:10px;}
#board_view_style div.comments dd{clear:both; padding:5px;}
#board_view_style div.comments dl{border-top:1px dashed #ccc; margin:5px 7px;}
#board_view_style div.comments dl:first-child{border-top:0;}

#board_view_style div.write_comment{}
#board_view_style div.write_comment ul.writer_info{zoom:1; }
#board_view_style div.write_comment ul.writer_info:after{content:""; display:block; clear:both;}
#board_view_style div.write_comment ul.writer_info li{float:left; margin-right:5px; line-height:15px;}
#board_view_style div.write_comment ul.writer_info li input{border:1px solid #dfe4db; background:#fafafa; vertical-align:middle;}

#board_view_style div.write_comment div.textWrap{position:relative; height:50px; padding:3px 75px 3px 0;}
#board_view_style div.write_comment div.textWrap div.btn{position:absolute; right:0; top:3px;}
#board_view_style div.write_comment div.textWrap textarea{width:100%; height:48px; font-size:12px; border:1px solid #dfe4db; background:#fafafa;}




.board_write_style_pc h1{text-align:center; font-size:14px; border:1px solid #ccc; background:#f4f4f4 url('./images/list_bg.gif') left top repeat-x; line-height:32px; height:32px;}
.board_write_style_pc ul.input_list{border:1px solid #ccc; border-width:1px 0; margin:5px 0;}
.board_write_style_pc ul.input_list li{position:relative; min-height:25px; line-height:25px; padding-left:120px; border-top:1px dotted #ccc;}
.board_write_style_pc ul.input_list li:first-child{border-top:0;}
.board_write_style_pc ul.input_list li span.title{position:absolute; left:0; top:0; line-height:25px; padding-left:10px; width:100px; background:#f4f4f4; height:100%; font-weight:bold;}
.board_write_style_pc ul.input_list li input{vertical-align:middle;}
.board_write_style_pc ul.input_list li input[type=text],
.board_write_style_pc ul.input_list li input[type=password]{border:1px solid #ccc; background:#fff; height:20px; margin:2px 0;}
.board_write_style_pc ul.input_list li input.long{width:300px;}
.board_write_style_pc ul.input_list li input.underline{border-width:0 0 1px 0; border-color:#dedede; border-style:solid; margin-left:7px; padding-left:3px; width:250px;}
.board_write_style_pc div.btn_group{padding:10px 0; text-align:center;}
}