@charset "utf-8";
pre {white-space:normal}
* html body { behavior:url(../rg4_css/csshover.htc); }
body, form {font-size:9pt;margin:0px 0px 0px 0px;}

body, table, tr, td, form {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: "µ¸¿ò";
	font-size: 9pt;
	color: #3D3D3D;
	line-height: 160%;
}
input,textarea,select {font-size:9pt;border:#BBB solid 1px;}
input[type=checkbox],
input[type=radio]
 {border:none}

img { border:none;}
A:link	{ text-decoration:none; color:#333333}
A:visited{ text-decoration:none; color:#333333}
A:hover {text-decoration:none; color:#A89CA3}
A:active {text-decoration:none; color:#6f6f6f}

.button {
	font-style:normal;
	font-size:12px;
	color:black;
	height:18px;
	background-color:#CDDEE7;
	border-width:1px;
	border-color:#999999;
	border-style:solid;
	padding-top:1px;
}

.site_list	{border-top:1px solid #488baa;border-left:none;border-right:none;border-collapse:collapse;border-bottom:solid 1px #cccccc;border-right:1px solid #cccccc;}
.site_list th	{color:#3b7c9a;font-family: "µ¸¿ò";font-weight:bold;font-size: 12px;height: 25px;background-color:#F0F0F4;border-bottom:1px solid #cccccc;border-left:1px solid #cccccc;border-right:none;text-align:center;}
.site_list td	{height:25px;padding:2px 0px 2px 0px;border-top:none;border-left:1px solid #cccccc;border-right:none;border-bottom:solid 1px #CCC;}

.site_content	{border:1px solid #CCCCCC; border-collapse:collapse;}
.site_content th	{background-color:#F0F0F4; color:#000000; padding:3px 3px 3px 3px; font-weight:normal;border:1px solid #CCCCCC;text-align:right}
.site_content td	{padding:3px 3px 3px 3px;border:1px solid #CCCCCC;}
.site_content input {border:#CCC 1px solid;font-size:9pt;}
.site_content textarea {border:#CCC 1px solid;font-size:9pt;}

.login_naver {background:url(../images/login_naver.png);}
.login_google {background:url(../images/login_google.png);}
.login_facebook {background:url(../images/login_facebook.png);padding-right:0;}
.login_twitter {background:url(../images/login_twitter.png);}

.login_naver ,
.login_google ,
.login_facebook ,
.login_twitter {background-repeat:no-repeat;width:160px;height:30px;text-align:left;border:none;color:#FFF;font-size:11px;padding-left:31px;margin:1px;cursor:pointer}

.login_snaver {background:url(../images/login_naver.png);}
.login_sgoogle {background:url(../images/login_google.png);}
.login_sfacebook {background:url(../images/login_facebook.png);}
.login_stwitter {background:url(../images/login_twitter.png);}

.login_snaver ,
.login_sgoogle ,
.login_sfacebook ,
.login_stwitter {background-repeat:no-repeat;width:30px;height:30px;cursor:pointer}

.login_box {margin:50px auto;width:400px;border:#999 1px solid;border-radius:4px;background-color:#FFF;padding-bottom:4px}
.login_box > .title {border-top:none;border-bottom:#999 1px solid;padding:2px;color:#FFF;background-color:#966;margin-bottom:5px;padding-top:4px;text-align:center}

.sub_title {text-align:center}
.sub_menu {padding:0;border-top:#C1C1C1 1px solid;margin:0 auto;width:90%;}
.sub_menu li {display:block;border-bottom:#C1C1C1 1px solid;padding:3px 0 2px 20px;background:url(../images/m_sub_icon01.gif);background-repeat:no-repeat;background-position:0px 6px}

#wrap{width:955px; margin:0 auto; text-align:center}

/* === header === */
#header { position:relative; overflow:hidden; margin:0; padding:0 0 6px 0; width:955px; height:80px; border-bottom:1px solid #d7d7d7;}
#header .logo { position:absolute; top:20px; left:10px; }
#header .menu { position:absolute; top:0px; right:0px; margin:0; width:auto; padding:0;margin-right:7px }
#header .menu li { float:left; margin:60px 3px 0 0; padding:0 0 0 10px;display:inline-block}
#header .menu li.first {background-image:none;}
/* === header end === */

/* === topmenu === */
#topmenu {position:relative; float: left; margin:0; padding: 0;  z-index: 20; width: 955px; height: 30px; background-color:#0C7AAC}
#topmenu ul {padding:0;margin:5px 0}
#topmenu ul li {float: left; color:#FFF;padding:0 10px;display:inline-block;background:url(../images/m_top_bar.gif);background-repeat:no-repeat;background-position:-2px -10px;}
#topmenu ul li a {color:#FFF;position:relative;top:1px}
#topmenu ul li.first {background-image:none}

/* === topmenu end === */

/* === main === */
#mcontent{clear: both; width:955px; margin:0; padding:0;background: url(../images/bg3.gif);background-repeat:repeat-y;min-height:600px}
#mcontent:after{display:block;clear:both;content:'';}
#mcontent .mleft{float:left; width:175px;margin:5px 0px 0px 5px; padding: 0; vertical-align:top; text-align:left;}
#mcontent .mright{float:right; width:745px; margin: 5px 5px 0px 0px ; padding: 0px; vertical-align:top; text-align:left;}
#mcontent .mright > .content{margin:0 auto; text-align:left;width:600px}
.title{border-top:#54A8BA 2px solid;border-bottom:#54A8BA 1px solid;background-color:#F4FAFB;padding:5px 0 5px 10px}
/* === main end === */


/* === footer === */
#footer{clear: both; width:955px; margin:10px 0px 0px 0px;   text-align:center; vertical-align:top; }

#footer .fcontent {padding:5px 0;border-top:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7;margin-bottom:10px}
#footer .fcontent a {margin:0 8px}
/* === footer end === */