body, table, tr, td, form {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: "돋움";
	font-size: 12px;
	color: #3D3D3D;
	line-height: 160%;
}

// tahoma

{
	scrollbar-face-color: #FFFFFF;
	scrollbar-shadow-color: #999999;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-3dlight-color: #999999;
	scrollbar-darkshadow-color: #EFEFEF;
	scrollbar-track-color: #EFEFEF;
	scrollbar-arrow-color: #999999;
}

.input,textarea,select {
	BORDER-RIGHT: #94BACC 1px solid;
	BORDER-TOP: #94BACC 1px solid;
	BORDER-LEFT: #94BACC 1px solid;
	BORDER-BOTTOM: #94BACC 1px solid;
	FONT-SIZE: 9pt;
	font-family: "돋움" ;
	color: #333333;
	background-color: #FFFFFF;
}
A:link {
	FONT-SIZE: 12px;
	COLOR: #2E2E2E;
	FONT-FAMILY: 돋움,verdana;
	TEXT-DECORATION: none;
	line-height: 17px;
}
A:visited {
	FONT-SIZE: 12px;
	COLOR: #2E2E2E;
	FONT-FAMILY: 돋움,verdana;
	TEXT-DECORATION: none;
	line-height: 17px;
}
A:hover {
	FONT-SIZE: 12px;
	COLOR: #4665AA;
	FONT-FAMILY: 돋움,verdana;
	TEXT-DECORATION: none;
	line-height: 17px;
}
a.white_link{color:#fff;}
a.white_link:visited {color:#fff;}
a.white_link:hover{color:#f0ff00;}
.button {
	font-style:normal;
	font-size:12px;
	color:black;
	height:18px;
	background-color:#CDDEE7;
	border-width:1px;
	border-color:#999999;
	border-style:solid;
	padding-top:1px;
}

a.menu,a.menu:link,a.menu:visited  {
	font-size: 9pt;
	font-weight: normal;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	font-family: "굴림";
}
a.menu:hover {
	font-size: 9pt;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	font-family: "굴림";
}

a.semo:link    { text-decoration: none;color:#404040;}
a.semo:visited { text-decoration: none;color:#404040;}
a.semo:hover   { text-decoration: none;color:#0083AF;}
.semo {color:#404040; font-family:굴림;font-size:9pt;}

.a_sub_title {
	background-color: #6D99D3;
	font-size: 9pt;
	font-weight: normal;
	color: #FFFFFF;
	text-align: left;
	font-family: "굴림";
	padding:3px;
}




.box {
	font-family: "돋움", Arial;
	font-size: 12px;
	color: #666666;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #B7C2B1;
	border-right-color: #B7C2B1;
	border-bottom-color: #B7C2B1;
	border-left-color: #B7C2B1;
}

.tit {
	font-family: "돋움";
	font-size: 12px;
	color: #666666;
	padding-top: 6px;
}

.text01 {
	font-family: "돋움";
	font-size: 12px;
	color: #FFFFFF;
}

.text02 {
	font-family: "돋움";
	font-size: 12px;
	color: #56789E;
}

.text03 {
	font-family: "돋움";
	font-size: 12px;
	color: #44A3DB;
	font-weight: bold;
}

.logt {
	font-family: "돋움";
	font-size: 13px;
	color: #599492;
	font-weight: bold;
}

.mtit{
	font-family: "돋움";
	font-size: 12px;
	color: #989898;
}

.s_title {
	FONT-SIZE: 12px;
	LINE-HEIGHT: 16px;
	font-family: "돋움", Arial;
	color: #000000;
}
.s_title_w{
	FONT-SIZE: 12px;
	LINE-HEIGHT: 16px;
	font-family: "돋움", Arial;
	color: #FFFFFF;
	font-weight: bold;
}
.gray12_text14 {
	FONT-SIZE: 12px;
	LINE-HEIGHT: 17px;
	font-family: "돋움", Arial;
	color: #666666;
}

.text04 {
	FONT-FAMILY: 돋움,verdana;
	font-size: 12px;
	color: #094464;
	line-height: 17px;
	text-decoration: none;
}

.ed { 
	border:1px solid #CCCCCC; 
} 
