@charset "utf-8";
div.g_default input[type=checkbox]{vertical-align:middle; margin-right:2px;}

div.g_default{}

div.g_default div.category{padding:10px 10px 5px 10px;}
div.g_default div.category select{border:1px solid #ccc; height:35px; width:100%; border-radius:5px; line-height:30px;}
div.g_default div.show_myarticle{float:right; margin-right:5px; border-right:1px dotted #ccc; padding-right:5px; line-height:12px; height:12px; font-size:12px;}

div.g_default div.g_list{}
div.g_default div.g_list ul{ border-bottom:1px solid #ddd; }
div.g_default div.g_list li{border-top:1px solid #ddd; position:relative; padding-left:110px; padding-right:37px; min-height:65px;}
div.g_default div.g_list li.noContent{border:none; padding:40px; text-align:center; font-weight:bold; height:20px; min-height:inherit;}
div.g_default div.g_list ul+p{margin:3px; }


div.g_default div.g_list li div.aside_img{position:absolute; left:0; width:100px; height:65px; text-align:center; top:0;}
div.g_default div.g_list li div.aside_img img{width:100px; height:65px;}
div.g_default div.g_list li dl dt{ height:25px; line-height:25px; font-weight:bold; font-size:1.2em; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
div.g_default div.g_list li dl dd{height:20px; line-height:20px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
div.g_default div.g_list li dl dd.info{height:20px; line-height:20px; font-size:0.9em; color:#888;}
div.g_default div.g_list li dl dd.info span{display:inline-block; padding:0 5px; border-left:1px solid #ccc; height:0.8em; line-height:0.8em;}
div.g_default div.g_list li dl dd.info span.writer{color:#333;}
div.g_default div.g_list li dl dd.info span:first-child{padding-left:0; border-left:0;}
div.g_default div.g_list li>a{display:block;}
div.g_default div.g_list li.on,
div.g_default div.g_list li:hover{background:#e7eef4;}
div.g_default div.g_list li.on dt,
div.g_default div.g_list li:hover dt{color:#006699;}
div.g_default div.g_list li.on dd:not(.info),
div.g_default div.g_list li:hover dd:not(.info){color:#5b6e92;}

div.g_default input[type='checkbox']{display:inline-block; width:25px; height:25px; border:1px solid #ccc; background-color:#fff; border-radius:5px; -webkit-appearance:none; vertical-align:middle;}
div.g_default input[type='checkbox']:checked{background:url('./images/checkbox.png') center center no-repeat;}

div.g_default div.g_list li span.comment_num{position:absolute; right:5px; top:50%; margin-top:-15px; width:32px; height:27px; line-height:27px; padding-bottom:5px; text-indent:-1px; background:url('./images/comment_bg.png') left top no-repeat; text-align:center; color:#006db7; font-size:0.8em; background-size:contain;  }

div.g_default div.pager{text-align:center; padding:10px;}
div.g_default div.btns{text-align:right;}



/*view*/
#g_view_style h1{text-align:center; font-size:14px; border:1px solid #ccc; background:#f4f4f4 url('./images/list_bg.gif') left top repeat-x; line-height:25px; height:25px;}
#g_view_style div.article_info{zoom:1; background:#f8f8f8; border-bottom:1px solid #ccc; padding:2px 0; line-height:25px;}
#g_view_style div.article_info:after{content:""; display:block; clear:both;}
#g_view_style div.article_info div.sns_share{float:left;}
#g_view_style div.article_info ul.info_list{float:right;}
#g_view_style div.article_info ul.info_list li{display:inline; padding:0 5px;}

#g_view_style div.link_files{}
#g_view_style div.link_files dl{margin:3px 0; border:1px solid #ccc; border-radius:5px; padding:3px 7px;}
#g_view_style div.link_files dt{font-weight:bold;}
#g_view_style div.link_files dt,
#g_view_style div.link_files dd{display:inline; padding:0 5px;}
#g_view_style div.link_files a:hover{background:#f4f4f4;}

#g_view_style div.article{padding:5px 10px;}
#g_view_style div.article div.image_aside{text-align:center; padding:7px 0;}
#g_view_style div.article div.image_aside img{max-width:100%; cursor:pointer;}

#g_view_style div.tags{margin:3px 0; border:1px solid #ccc; border-radius:5px; padding:3px 7px;}

#g_view_style div.comments{background:#f4f4f4; border-top:1px solid #ccc; margin:5px 0; }
#g_view_style div.comments dt{font-weight:bold; position:relative;}
#g_view_style div.comments dt span.date{position:absolute; right:0; top:0; font-weight:normal; color:#777; padding-left:10px;}
#g_view_style div.comments dd{clear:both; padding:5px;}
#g_view_style div.comments dl{border-top:1px dashed #ccc; margin:5px 7px;}
#g_view_style div.comments dl:first-child{border-top:0;}

#g_view_style div.write_comment{}
#g_view_style div.write_comment ul.writer_info{zoom:1; }
#g_view_style div.write_comment ul.writer_info:after{content:""; display:block; clear:both;}
#g_view_style div.write_comment ul.writer_info li{float:left; margin-right:5px; line-height:15px;}
#g_view_style div.write_comment ul.writer_info li input{border:1px solid #dfe4db; background:#fafafa; vertical-align:middle;}

#g_view_style div.write_comment div.textWrap{position:relative; height:50px; padding:3px 75px 3px 0;}
#g_view_style div.write_comment div.textWrap div.btn{position:absolute; right:0; top:3px;}
#g_view_style div.write_comment div.textWrap textarea{width:100%; height:48px; font-size:12px; border:1px solid #dfe4db; background:#fafafa;}


/*write*/
#g_write_style{}
#g_write_style h1{text-align:center; font-size:14px; border:1px solid #ccc; background:#f4f4f4 url('./images/list_bg.gif') left top repeat-x; line-height:25px; height:25px;}

#g_write_style div.input_list{}
#g_write_style div.input_list ul.list{margin-top:5px; border-top:1px solid #ccc;}
#g_write_style div.input_list ul.list li{position:relative; padding:5px 10px 5px 120px; min-height:22px; border-bottom:1px solid #ccc;}
#g_write_style div.input_list ul.list li span.title{position:absolute; left:0; top:0; line-height:30px; padding-left:5px; width:110px; background:#f4f4f4; height:100%;}
#g_write_style div.input_list ul.list li input[type=text],
#g_write_style div.input_list ul.list li input[type=password],
#g_write_style div.input_list ul.list li select,
#g_write_style div.input_list ul.list li textarea{border:1px solid #ccc;}
#g_write_style div.input_list ul.list li input[type=text],
#g_write_style div.input_list ul.list li input[type=password]{height:20px; margin-bottom:1px;}
#g_write_style div.input_list ul.list li select{height:22px;}
#g_write_style div.input_list ul.list li input[type=checkbox]{vertical-align:middle; margin-right:2px;}
#g_write_style div.input_list ul.list li span.info{color:#888;}
#g_write_style div.input_list ul.list li span.input_label{display:inline-block; width:40px;}

#g_write_style div.btns{text-align:center; padding:20px 0;}