@charset "utf-8";
div.g_default input[type=checkbox]{vertical-align:middle; margin-right:2px;}

div.g_default{}

div.g_default div.top_info{zoom:1; }
div.g_default div.top_info:after{clear:both; content:""; display:block;}
div.g_default div.top_info div.category{float:left;}
div.g_default div.top_info div.total{float:right;}

div.g_default div.g_list{}
div.g_default div.g_list ul{border-top:2px solid #006db7; border-bottom:1px solid #006db7; }
div.g_default div.g_list li{border-top:1px solid #f4f4f4; padding:5px 10px; position:relative; padding-left:130px; min-height:90px;}
div.g_default div.g_list li:first-child{border-top:none;}
div.g_default div.g_list li.noContent{border:none; padding:40px; text-align:center; font-weight:bold; height:20px; min-height:inherit;}
div.g_default div.g_list ul+p{margin:3px; }


div.g_default div.g_list li div.aside_img{position:absolute; left:0; width:130px; text-align:center; top:10px;}
div.g_default div.g_list li div.aside_img img{max-width:100%;}
div.g_default div.g_list li dl{}
div.g_default div.g_list li dl dt{border-bottom:1px dotted #ccc; padding:5px 10px; }
div.g_default div.g_list li dl dt a{font-weight:bold; font-size:1.2em;}
div.g_default div.g_list li dl dd{padding:10px 10px 0 10px;}
div.g_default div.g_list li dl dd.info{text-align:right; color:#888;}
div.g_default div.g_list span.comment_num{padding:0px 2px 0px 2px;background:#4ea1bf;color:#FFFFFF;font-family:tahoma;font-size:8px;}

div.g_default div.pager{text-align:center; padding:10px;}
div.g_default div.btns{text-align:right;}



/*view*/
#g_view_style h1{text-align:center; font-size:14px; border:1px solid #ccc; background:#f4f4f4 url('./images/list_bg.gif') left top repeat-x; line-height:25px; height:25px;}
#g_view_style div.article_info{zoom:1; background:#f8f8f8; border-bottom:1px solid #ccc; padding:2px 0; line-height:25px;}
#g_view_style div.article_info:after{content:""; display:block; clear:both;}
#g_view_style div.article_info div.sns_share{float:left;}
#g_view_style div.article_info ul.info_list{float:right;}
#g_view_style div.article_info ul.info_list li{display:inline; padding:0 5px;}

#g_view_style div.link_files{}
#g_view_style div.link_files dl{margin:3px 0; border:1px solid #ccc; border-radius:5px; padding:3px 7px;}
#g_view_style div.link_files dt{font-weight:bold;}
#g_view_style div.link_files dt,
#g_view_style div.link_files dd{display:inline; padding:0 5px;}
#g_view_style div.link_files a:hover{background:#f4f4f4;}

#g_view_style div.article{padding:5px 10px;}
#g_view_style div.article div.image_aside{text-align:center; padding:7px 0;}
#g_view_style div.article div.image_aside img{max-width:100%; cursor:pointer;}

#g_view_style div.tags{margin:3px 0; border:1px solid #ccc; border-radius:5px; padding:3px 7px;}

#g_view_style div.comments{background:#f4f4f4; border-top:1px solid #ccc; margin:5px 0; }
#g_view_style div.comments dt{font-weight:bold; position:relative;}
#g_view_style div.comments dt span.date{position:absolute; right:0; top:0; font-weight:normal; color:#777; padding-left:10px;}
#g_view_style div.comments dd{clear:both; padding:5px;}
#g_view_style div.comments dl{border-top:1px dashed #ccc; margin:5px 7px;}
#g_view_style div.comments dl:first-child{border-top:0;}

#g_view_style div.write_comment{}
#g_view_style div.write_comment ul.writer_info{zoom:1; }
#g_view_style div.write_comment ul.writer_info:after{content:""; display:block; clear:both;}
#g_view_style div.write_comment ul.writer_info li{float:left; margin-right:5px; line-height:15px;}
#g_view_style div.write_comment ul.writer_info li input{border:1px solid #dfe4db; background:#fafafa; vertical-align:middle;}

#g_view_style div.write_comment div.textWrap{position:relative; height:50px; padding:3px 75px 3px 0;}
#g_view_style div.write_comment div.textWrap div.btn{position:absolute; right:0; top:3px;}
#g_view_style div.write_comment div.textWrap textarea{width:100%; height:48px; font-size:12px; border:1px solid #dfe4db; background:#fafafa;}


/*write*/
#g_write_style{}
#g_write_style h1{text-align:center; font-size:14px; border:1px solid #ccc; background:#f4f4f4 url('./images/list_bg.gif') left top repeat-x; line-height:25px; height:25px;}

#g_write_style div.input_list{}
#g_write_style div.input_list ul.list{margin-top:5px; border-top:1px solid #ccc;}
#g_write_style div.input_list ul.list li{position:relative; padding:5px 10px 5px 120px; min-height:22px; border-bottom:1px solid #ccc;}
#g_write_style div.input_list ul.list li span.title{position:absolute; left:0; top:0; line-height:30px; padding-left:5px; width:110px; background:#f4f4f4; height:100%;}
#g_write_style div.input_list ul.list li input[type=text],
#g_write_style div.input_list ul.list li input[type=password],
#g_write_style div.input_list ul.list li select,
#g_write_style div.input_list ul.list li textarea{border:1px solid #ccc;}
#g_write_style div.input_list ul.list li input[type=text],
#g_write_style div.input_list ul.list li input[type=password]{height:20px; margin-bottom:1px;}
#g_write_style div.input_list ul.list li select{height:22px;}
#g_write_style div.input_list ul.list li input[type=checkbox]{vertical-align:middle; margin-right:2px;}
#g_write_style div.input_list ul.list li span.info{color:#888;}
#g_write_style div.input_list ul.list li span.input_label{display:inline-block; width:40px;}

#g_write_style div.btns{text-align:center; padding:20px 0;}